<div class="container">
  <h2>Buttons</h2>
  <mat-divider></mat-divider>

  <div class="btn-wrapper mt-3">
    <mat-card class="btn-card">
      <h4>Basic Buttons</h4>
      <div class="btn-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button color="warn" disabled>Disabled</button>
        <a mat-button href="https://google.com" target="_blank">Link</a>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Raised Buttons</h4>
      <div class="btn-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button color="warn" disabled>Disabled</button>
        <a mat-raised-button href="https://google.com" target="_blank">Link</a>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Stroked Buttons</h4>
      <div class="btn-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button color="warn" disabled>Disabled</button>
        <a mat-stroked-button href="https://google.com" target="_blank">Link</a>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Flat Buttons</h4>
      <div class="btn-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button color="warn" disabled>Disabled</button>
        <a mat-flat-button href="https://google.com" target="_blank">Link</a>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Icon Buttons</h4>
      <div class="btn-row">
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          disabled
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon
            ><mat-spinner diameter="20" color="accent"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Fab Buttons</h4>
      <div class="btn-row">
        <button
          mat-fab
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-fab
          color="accent"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button
          mat-fab
          color="warn"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-fab
          disabled
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button
          mat-fab
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>
        </button>
        <button
          mat-fab
          aria-label="Example icon button with a open in new tab icon"
          color="primary"
        >
          <mat-icon
            ><mat-spinner diameter="20" color="accent"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Mini Fab Buttons</h4>
      <div class="btn-row">
        <button
          mat-mini-fab
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="accent"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-mini-fab
          disabled
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button
          mat-mini-fab
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>
        </button>
        <button
          mat-mini-fab
          aria-label="Example icon button with a open in new tab icon"
          color="primary"
        >
          <mat-icon
            ><mat-spinner diameter="20" color="accent"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Loading Buttons</h4>
      <div class="btn-row">
        <button mat-button>
          Basic
          <mat-icon>
            <mat-spinner diameter="18" color="accent"></mat-spinner>
          </mat-icon>
        </button>
        <button mat-raised-button color="primary">
          Primary
          <mat-icon>
            <mat-spinner diameter="18" color="accent"></mat-spinner>
          </mat-icon>
        </button>
        <button mat-stroked-button color="accent">
          Accent
          <mat-icon>
            <mat-spinner diameter="18" color="primary"></mat-spinner>
          </mat-icon>
        </button>
        <button mat-flat-button color="warn">
          Warn
          <mat-icon>
            <mat-spinner diameter="18" color="primary"></mat-spinner>
          </mat-icon>
        </button>
        <button mat-raised-button color="warn" disabled>
          Disabled
          <mat-icon>
            <mat-spinner diameter="18" color="accent"></mat-spinner>
          </mat-icon>
        </button>
        <a mat-raised-button href="https://google.com" target="_blank"
          >Link
          <mat-icon>
            <mat-spinner diameter="18" color="accent"></mat-spinner> </mat-icon
        ></a>
      </div>
    </mat-card>
  </div>
</div>
