<!-- <div class="container">
  <h2>Components</h2>
  <mat-divider></mat-divider>

  <div class="content mt-2">
    <div class="row">
      <div class="col-2" *ngFor="let menu of menuCards">
        <div
          class="example-ripple-container mat-elevation-z4"
          matRipple
          [matRippleRadius]="radius"
          [matRippleColor]="color"
          routerLink="{{ menu.link }}"
        >
          {{ menu.label }}
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container sub-header">
  <ul class="nav nav-bar bg-dark">
    <li class="nav-item"><a routerLink="home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">HOME</a></li>
    <li class="nav-item"><a routerLink="about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">ABOUT</a></li>
    <li class="nav-item"><a routerLink="contact" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">CONTACT</a></li>
    <li class="nav-item"><a routerLink="profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">PROFILE</a></li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>  
</div>
